{% if current_user.is_authenticated %}
  {% extends "signed_in.html" %}
{% else %}
  {% extends "_layout.html" %}
{% endif %}



{% block title %}
  Homepage
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <h1>Homepage</h1>
  <br/>
  <br/>
  {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
  {% endwith %}
  <br/>
  <br/>

  {% for u in user%}
    <hr/>
    <h6>{{u.username}}</h6>
    {% if u==current_user %}
      <div><img src="{{u.profile_pic}}" alt="Profile Pic Missing" style="height:220px;width:220px;border-radius: 50%;"></div>
    {% else %}
      <div><img src="{{u.profile_pic}}" alt="Profile Pic Missing" style="height:220px;width:220px;border-radius: 50%;"></div>
      <div>
        <form action="{{url_for('users.show',username=u.username)}}" method="GET">
          
          <button type="submit" class="btn btn-primary">See Profile</button>
        </form>
      </div>
    {% endif %}
    {% for i in u.images%}
      <img src="{{i.image_path}}" style="width: 200px;height: 200px;">
    {% endfor %}
    <hr/>
  {% endfor%}
  


{% endblock %}